<h1>Cursos</h1>
<%= link_to 'Novo curso', new_course_path %>

<table>
    <thead>
        <tr>
            <th>Título</th>
            <th>Descrição</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @courses.each do |course| %>
            <tr>
                <td><%= course.title %></td>
                <td><%= course.description %></td>
            </tr>
                <td><%= link_to 'Abrir curso', course %></td>
                <td><%= link_to 'Editar curso', edit_course_path(course) %></td>
                <td><%= button_to 'Deletar curso', course, method: :delete, data: { turbo_confirm: 'Tem certeza?' } %></td>
            
        <% end %>
    </tbody>
</table>